.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.the-cord {
  padding: 2em;
  width: 100%;
}

.the-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 200px;
}