.item {
 display: flex;
}

.item-names {
 vertical-align: 5px;
}

.row {
 display: flex;
 flex-direction:row;
}

.column {
 flex: 1 1 0;
 font-size: 18pt;
}

.column-middle {
 text-align: center;
}

.column-right {
 text-align: right;
}

.list-group {
 width: 50%;
 margin-left: 2em;
}

.list-group-item{
 background: aliceblue;
}